@import "tailwindcss";

:root {
	/* Light mode default */
	--background: #fdf3e6; /* cream */
	--foreground: #8e5e50; /* cocoa brown */

	/* Font variables injected from next/font/local */
	--font-sans: var(--font-fira-sans);
	--font-serif: var(--font-ebgaramond);
}

/* @media (prefers-color-scheme: light) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
} */

body {
	background-color: var(--background);
	color: var(--foreground);
	font-family: var(--font-sans), serif;
}
